<table class="table table-hover">
    <tr>
        <td>ID</td>
        <td>Titulo</td>

        <link rel="stylesheet" href="/css/style.scss">
        
    </tr>
    {{#each posts}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.titulo}}</td>
            <td>{{this.nome}}</td>

          <td>
                <button class="btn btn-secondary">
                    <a href="/posts/delete/{{this.id}}" style="text-decoration: none;">Excluir</a>
                </button>
            </td>
            <td><button class="btn btn-secondary">
                <a href="/posts/edit/{{this.id}}" style="text-decoration: none;">edit</a></td></button>

            <td><button class="btn btn-secondary">
            <a href="/posts/view/{{this.id}}" style="text-decoration: none;">Visualizar</a></td></button>

        </tr>
    {{/each}}
</table>


